<% @listes_partagees.each do |l|%>
  <div><%= l.nom_liste %></div>
  <%l.partages.each do |p|%>
    <div><%="#{p.proprietaire.name} -> #{p.destinataire.name}"%>
    <%=link_to "", partage_path(id: p.id), class: 'btn-sm glyphicon glyphicon-trash',method: :delete%></div>
  <%end%>
  <br/>
<%end%>
