

<div id="main-container" class="responsive-table">

  <h1> Listes :</h1>

  <%if @listes.size == 0 %>
      <div>
        Vous n'avez aucune liste.
      </div>

  <% else %>

  <table width=100% class="table-hover table">
    <thead>
    <% @listes.each do |l|%>
      <tr>
        <td><%= link_to "", liste_path(id: l.id), class: 'btn-sm glyphicon glyphicon-trash',method: :delete %>
        <%=link_to l.nom_liste, liste_path(id: l.id)%></td>
      </tr>
    <%end%>
  <%end%>
</thead>
</table>



  <div> <%= link_to "Nouvelle liste", new_liste_path %> </div>
  <div> <%= link_to "Retour aux listes", root_path %></div>

</div>
