<h1> Listes :</h1>

<% @listes.each do |l|%>
  <div>
    <%= link_to "", liste_path(id: l.id), class: 'btn-sm glyphicon glyphicon-trash',method: :delete %>
    Nom Liste : <%=link_to l.nom_liste, liste_path(id: l.id)%>
  </div>
<%end%>

</br>
<p> <%= link_to "Nouvelle liste", new_liste_path %> </p>
