<h1> Listes :</h1>

  <% if owns_listes?(@listes)%>
    <%=render 'listes_user', listes: @listes %>
  <% else %>
    <p><%= link_to "Créez votre première liste", new_liste_path %></p>
  <%end%>

  <%= render 'listes_partagees', listes: @listes if receives_listes?(@listes) %>
