<h1> Les listes apparaitront ici</h1>

<% @listes.each do |l|%>
  <div>Id Liste : <%=l.id%>
  <div>Utilisateur : <%=l.utilisateur%></div>
  <div>Nom Liste : <%=link_to l.nom_liste, liste_path(id: l.id)%></div>
  <div></div>
<%end%>


<%= link_to "Nouvelle liste", new_liste_path %>
